[submodule "arma3beclient.wiki"]
	path = arma3beclient.wiki
	url = https://github.com/tym32167/arma3beclient.wiki.git
[submodule "BattleNET"]
	path = BattleNET
	url = https://github.com/tym32167/BattleNET.git
