<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.1" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.2.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MaxMind.Db" version="1.0.0.0" targetFramework="net45" />
  <package id="MaxMind.GeoIP2" version="2.1.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.3.31.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="RestSharp" version="105.0.0" targetFramework="net45" />
</packages>